<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>
<body>
<p>Hi {{username}},</p>
<p>For reset your password, please click the following link:</p>
<a href="{{ host }}auth/confirmed_email/{{ token }}">
    Click here to reset your password
</a>
<p>
    <img src="http://127.0.0.1:8000/static/open_check.png" alt="">
    <img src="http://127.0.0.1:8000/auth/{{ username }}" alt="">
</p>
<p>If you did not request a password reset, please delete this email and contact us.</p>
<p>Thanks,</p>
<p>The Our Team</p>
</body>
</html>
