<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Email</title>
</head>
<body>
<p>Hi {{username}},</p>
<p>Thank you for signing up for our service.</p>
<p>Please click the following link to verify your email address:</p>
<a href="{{ host }}auth/confirmed_email/{{ token }}">
    Click here to verify your email address
</a>
<p>
    <img src="http://127.0.0.1:8000/static/open_check.png" alt="">
    <img src="http://127.0.0.1:8000/auth/{{ username }}" alt="">
</p>
<p>If you did not sign up for our service, please ignore this email.</p>
<p>Thanks,</p>
<p>The Our Team</p>
</body>
</html>
